body {
  margin: 0;
  font-family: 'Segoe UI', cursive;
  background: linear-gradient(to bottom, #ff758c, #ff7eb3);
  color: white;
  text-align: center;
}

section {
  min-height: 100vh;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story h1 {
  font-size: 40px;
}

.story p {
  font-size: 22px;
  max-width: 600px;
  margin: auto;
}

.final button {
  padding: 15px 40px;
  font-size: 22px;
  border: none;
  border-radius: 30px;
  background: white;
  color: #ff4d6d;
  cursor: pointer;
}

#noBtn {
  margin-left: 15px;
  background: #ff4d6d;
  color: white;
}

#yesBtn {
  background: white;
  color: #ff4d6d;
}
